from dataclasses import dataclass, field

from dataclasses_json import CatchAll, DataClassJsonMixin, Undefined, config

{% for module_import in data.module_imports -%}
from {{ module_import.from_name }} import {{ module_import.import_names | join(', ') }}
{% endfor %}


@dataclass
class {{ data.class_name }}(DataClassJsonMixin):
{%- for attribute in data.class_attributes %}
    {{ attribute.attribute_name }}: {{ attribute.attribute_type }} = field(metadata=config(field_name="{{ attribute.openapi_name }}"))
{%- endfor %}

    dataclass_json_config = config(undefined=Undefined.INCLUDE)["dataclasses_json"]  # type: ignore
    unhandled_data: CatchAll = field(default_factory=dict)
