import dataclasses

import dataclasses_json

{% for module_import in data.module_imports -%}
from {{ module_import.from_name }} import {{ module_import.import_names | join(', ') }}
{% endfor %}
from ..openapi import openapi_field, openapi_unhandled


@dataclasses_json.dataclass_json(undefined=dataclasses_json.Undefined.INCLUDE)
@dataclasses.dataclass
class {{ data.class_name }}:
{%- for attribute in data.class_attributes %}
    {{ attribute.attribute_name }}: {{ attribute.attribute_type }} = openapi_field("{{ attribute.openapi_name }}")
{%- endfor %}

    unhandled_data: dataclasses_json.CatchAll = openapi_unhandled()
